
<!-- Header -->
	<section id="header" class="dark">
		<header>
			<h1>Welcome to SMEsauce</h1>
			<p>Business solutions group.</p>
		</header>
		<footer>
			<a href="#first" class="button scrolly">More about SMEsauce</a>
		</footer>
	</section>

	<!-- First -->
	<section id="first" class="main">
		<header>
			<div class="container">
				<h2>SMEsauce is about business transformation, professional business consultancy and advice.</h2>
				<p>We solve business and technology issues.<br />
				We work with a network of people worldwidw to promote and develop visions for the customer.</p>
			</div>
		</header>

		<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="4u">
								<section>
									<a href="#" class="image fit"><img height="250" src="assets/circle.jpg" alt="" /></a>
									<header>
										<h3>Business Modelling</h3>
									</header>
									<p>Intergrating technology to better serve business.</p>
								</section>
							</div>
							<div class="4u">
								<section>
									<a href="#" class="image fit"><img src="assets/macbook-pro-backlit-keyboard1.jpg" alt="" /></a>
									<header>
										<h3>Systemising the business</h3>
									</header>
									<p>Business improvement initiatives, enhancements and organisational improvements to sustain and promote growth.</p>
								</section>
							</div>
							<div class="4u">
								<section>
									<a href="#" class="image fit"><img src="assets/desk.jpg" alt="" /></a>
									<header>
										<h3>Technology transfer</h3>
									</header>
									<p>Business Improvement initiatives, enhancements and organisational improvements to sustain and promote growth.</p>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<footer>
									<a href="#fourth" class="button scrolly">Contact us</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
		
		<<!-- Fourth -->
			<section id="fourth" class="main">
				<header>
					<div class="container">
						<h2>SMEsauce</h2>
						<p>Contact us <br /></p>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container 75%">
						<form method="post" action="#">
							<div class="row 50%">
								<div class="6u"><input type="text" placeholder="Name" /></div>
								<div class="6u"><input type="text" placeholder="Email" /></div>
							</div>
							<div class="row 50%">
								<div class="12u"><textarea name="message" placeholder="Message"></textarea></div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" class="button" value="Send Message" /></li>
										<li><input type="reset" class="button alt" value="Clear Form" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<div class="copyright">
					<ul class="menu">
						<li>&copy; Silkline Pty Ltd. All rights reserved.</li>
					</ul>
				</div>
			</section>